.main {
  /* height: 100vh; */
  height: auto;
  width: 80%;

  /* background-color: rgb(217, 220, 217); */
  margin: 0 auto 20px;
}

@media (min-width: 768px) {
  .main {
    width: 65%;
  }
}

@media (min-width: 1060px) {
  .main {
    max-width: 900px;
  }
}
