@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap");
body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  height: auto;
  background-color: #1e1e1e;
}
.mainLoader {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: #1e1e1e78;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ff760c;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
